<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="data source=(localdb)\ProjectsV13;initial catalog=eduWeb;integrated security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>