<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="data source=jaylosy.com,39123;initial catalog=eduWeb;uid=sa;pwd=lovevi@900624" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>